/** 消息弹出框， alert*/
.msg_popup_mask {
	z-index: 10;
	top: 50%;
	position: fixed;
	width: 100%;
	margin-top: -20px;
	text-align: center;
	pointer-events: none;
	display: none;
}

.msg_popup_mask_bottom {
	z-index: 10;
	top: 80%;
	position: fixed;
	width: 100%;
	margin-top: -20px;
	text-align: center;
	pointer-events: none;
	display: none;
}

.msg_popup_mask > div, .msg_popup_mask_bottom > div{
	background: rgba(39, 39, 39, 0.8);
	padding: 25px 10px;
	width: 183px;
	margin: 0px auto;
	display: inline-block;
	border-radius: 10px;
	text-align: center;

}

.msg_popup_mask > div > div, .msg_popup_mask_bottom > div > div{
	display: inline-block;
	max-width: 183px;
	text-align: left;
	font-family: '黑体';
	font-size:15px;
	line-height: 25px;
	color: #ffffff;
	margin: 0px auto;
	word-wrap: break-word;
	word-break: normal;
	text-shadow: 1px 1px 1px #272727;
}

/** 单选按钮 */
.label_radio { 
    padding: 0px 24px;
    background: url(../images/radiobtn_20.png) no-repeat; 
    background-position: 0 -20px; 
    display: inline-block;
    line-height: 20px;
}
.label_radio_on { 
    background-position: 0 0; 
}
.label_radio input {
	position: absolute; left: -9999px;
}


/**
 * 加载更多按钮
 */

.btn_yellow{
    border: solid 1px #B3590D;
    -webkit-box-shadow: rgba(197, 89, 13, 0.8) 0 0 1px;
    -moz-box-shadow: rgba(197, 89, 13, 0.8) 0 0 1px;
    box-shadow: rgba(197, 89, 13, 0.8) 0 0 1px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;        
    display:block;
    min-width:60px;
    height:32px;
    color: #E9E9E9;
    font: 18px/1 黑体;    
    text-shadow: 0px -1px rgba(164, 60, 0, 0.8);
}
.btn_yellow > label {
    height: 30px;
    line-height: 30px;
    margin:0 auto;
    display:block;
    text-align: center;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
    background-color: #F5A938;
    background-image: -moz-linear-gradient(top, #F5A938, #CC7000);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #F5A938),color-stop(1, #CC7000));
    border: 1px solid #CC7000;
    border-top-color: #FFCF47;
}
.btn_yellow_small {
	height: 26px;
	width: 68px;
	font: 15px/1 黑体;  
	-webkit-box-shadow: white 0 0 0;
	-moz-box-shadow: white 0 0 0;
	box-shadow: white 0 0 0;
}
.btn_yellow_small > label {
	height: 24px;
    line-height: 24px;
}

.btn_white {
	min-width:80px;
	border-radius: 3px;
	border: 1px solid #CCC;
	box-shadow: 0px 0px 1px silver;
	height: 32px;
	font: 16px/1 黑体;
	color: #4B4B4B;
	background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top, #f5f5f5, #eeeeee);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f5f5f5),color-stop(1, #eeeeee));
    display: block;
}

.btn_white > label {
	line-height: 32px;
}
/**
 * 点评
 */
#tvDianpin_tvLiveForm{
	border-bottom:1px solid #ebebeb;
}
.reviewsForm {
	padding: 15px;
	padding-bottom: 45px;
}
.reviewsForm .reviews_value {
	width: 92%;
	height: 51px;
	padding: 10px;
	background-color: #f5f5f5;
	border: 2px solid #ebebeb;
	font-size: 13px;
	color:#000000;
}
.reviewsForm .reviews_rate {
	float: left;
	line-height: 30px;
	margin-top: 7px;
	color: #969799;
}
.reviewsForm .reviews_btn {
	float: right;
	margin-top: 7px;
}
.reviewsForm .reviews_btn_div {
	width: 68px; 
	height: 26px; 
	line-height: 26px; 
	text-align: center;
	font-size: 15px;
	color: #ffffff;
	border-radius: 2px;
	display: inline-block;
}

.reviewsFormBefore {
	padding: 15px;
}
.reviewsFormBefore .reviewsDiv_value {
	height: 33px;
	line-height: 33px;
	border: 1px solid #d9d9d9;
	background-color: #f5f5f5;
	border-radius: 4px;
	text-align: left;
	font-size: 13px;
	color:#a3a3a3;
}
/**
 * 页面设置
 */
body > div:first-child {
	width: 100%;
	max-width: 390px;
	margin: 0 auto;
	font-size: 16px;
}

*{
	font-family:'Helvetica','Arial','黑体' !important;
} 
input[type="password"],
input[type="text"],
TEXTAREA {
	-webkit-appearance: none;
	border: 1px solid #cecece;
}
/** tab标签页 */
.tab {
	width: 100%;
	height: 28px;
	line-height: 26px;
	font-size: 16px;
	text-align: center;
	background-repeat: repeat-x;
	
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
	max-width: 100%;
	overflow: hidden;
}

.tab>li {
	float: left;
	border-width: 1px;
	border-style: solid;
	
	width: 78px;
}

.tab_down {
	color: #ffffff;
	font-size:16px;
	background-color:#bcbcbc;
}

.tab_up {
	color: #4c4c4c;
	font-size:16px;
	background-color:#f1f1f1;
}

/** tab标签页新 */
.tabNWideDiv {
	width:100%; 
	height:37px; 
	position:relative;
	box-shadow: 0px 1px 1px rgba(41,41,41,0.3);
	background-color: #ffffff;
}
.tabNWideDivTwo {
	width:100%; 
	height:37px;
	margin-bottom: 2px; 
	position:relative;
	box-shadow: 0px 1px 1px rgba(41,41,41,0.3);
	background: url('../images/title_tab.png');
	background-size: 1px 40px;
}
.tabNWideDivTop {
	position:fixed; 
	top:0; 
	z-index:100; 
	width:100%; 
	max-width:720px; 
	height:37px; 
	overflow:hidden; 
	box-shadow: 0px 1px 1px rgba(41,41,41,0.3); 
	background-color: #ffffff;
}

.tabNBottomImg {
	height:40px; 
	width:100%;
	max-width:720px;
}

.tabNInsDiv {
	width:100%;
	position:absolute; 
	left:0; 
	top:0;
}

.tabN {
	height: 40px;
	line-height: 40px;
	font-size: 16px;
	text-align: center;
	background-repeat: repeat-x;
	
	list-style: none;
	margin: 0;
	padding: 0;
	display: block;
	overflow: hidden;
}

.tabN>li {
	float: left;
	width: 78px;
}

.tabN_down {
	color: #f09300;
	font-size:15px;
}

.tabN_up {
	color: #808080;
	font-size:15px;
}

.tabN_up #xiaH {
	display:none;
}

/** 中间标题 **/
.centerDetails_conDiv {
	height:40px;
	width: 100%;
	color: #383838;
	font-size: 16px;
	vertical-align: middle;
	line-height: 40px;
	font-family: '黑体';
	position:absolute; 
	left:0; 
	top:0;
}

/** 页头 **/
.head_title {
	position: relative;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #ffad33;
	-moz-box-shadow: 0px 1px 2px rgba(41,41,41,0.3);
	box-shadow: 0px 1px 2px rgba(41,41,41,0.3);
	
	border-top:1px solid #f59300;
	border-bottom:1px solid #f59300;
}
.head_title td:first-child {
	font-size: 14px;
	font-family: '黑体';
	color: #ffffff;	
	padding-left: 0px;
}
.head_title td:nth-child(2) {
	text-align: right;
	padding-right: 6px;
}
.head_title_Select {
	position: relative;
	padding: 0px 10px 0px 15px;
	
	width: 100%;
	height: 54px;
	line-height: 54px;
	
	border-bottom:1px solid #dedede;
	
	table-layout:fixed;
	WORD-WRAP:break-word;
}
.head_title_Select_dan {
	position: relative;
	padding: 0px 15px 0px 15px;
	
	width: 100%;
	height: 54px;
	line-height: 54px;
	
	border-bottom:1px solid #dedede;
	
	table-layout:fixed;
	WORD-WRAP:break-word;
}

.head_title_Select img {
	vertical-align: middle;
	margin-top: -3px;
}

.head_title_Select_dan img {
	vertical-align: middle;
	margin-top: -3px;
}
.toptitlsBeforeSecond{
	font-size: 15px;
	font-family: 黑体;
	color: #ffffff;
	margin: 0px 9px 0px 15px;
}
.toptitlsBeforeSecondTwo{
	font-size: 15px;
	font-family: 黑体;
	color: #ffffff;
	margin: 0px 5px 0px 15px;
}
.toptitlsSecond{
	font-size: 15px;
	font-family: 黑体;
	color: #ffffff;
	margin:0px 15px 0px 9px;
}
.toptitlsSecondTwo{
	font-size: 15px;
	font-family: 黑体;
	color: #ffffff;
	margin:0px 15px 0px 5px;
}
.mallTop_index{
    width: 100%;
	height: 37px;
	background: url('../images/Bg_mianbaoxie_1px.PNG');
}

/**  分享**/
.content_fenxiang{
	background-image: url(../images/favorite_shareNor.png);
	background-repeat: no-repeat;
	background-size: 25px 25px;
	width: 30px;  
	height: 26px;
}

}
.link_a {
	color: #2B597D;
	text-decoration: underline;
}
.padding-left-6px {
	padding-left: 6px;
}
table {
	border-collapse: separate;
	border-spacing: 0;
}
tr,td{
	padding:0px;
}
.one_line {
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.share_bind_div {
	float: right;
	width:84px; 
	height:35px; 
	line-height:35px; 
	text-align: center; 
	font-size: 18px; 
	color: #ffffff; 
	background-color:#ffad33; 
	border-radius: 3px;
}

.share_unbind_div {
	float: right;
	width:84px; 
	height:35px; 
	line-height:35px; 
	text-align: center; 
	font-size: 18px; 
	color: #737373; 
	background-color:#dedede; 
	border-radius: 3px;
}

/**
 * 阅读章节列表高亮当前章节
 */
.eBook_chapterHighlight {
	//color: red !important;
	font-weight: bold;
}
/**
 * 阅读章节列表高亮当前章节 end
 */
/**
 * 控制显示收藏或未收藏
 */
/** 未收藏  **/
.content_wsc{
	background-image: url(../images/favorite_keepNor.png);
	background-repeat: no-repeat;
	background-size: 25px 25px;
	width: 30px;  
	height: 26px;
}

/**已收藏**/
.content_ysc{
	background-image: url(../images/favorite_KeepPre.png);
	background-repeat: no-repeat;
	background-size: 25px 25px;
	width: 30px;  
	height: 26px;
}
.common_collection_yes {
	display: none;
}
.common_collection_no {
	display: block;
}
.common_collection_collected .common_collection_no {
	display: none !important;
}
.common_collection_collected .common_collection_yes {
	display: block !important;
}
/**
 * 控制显示收藏或未收藏 end
 */

/*
 * 含有lable和input输入框的table
 */
.common_fieldset{
	width:100%;
	color: #383838;
	border-spacing: 0px;
}

.common_fieldset input{
	width: 100%;
}
.common_fieldset tr td:first-child {
	width: 64px;
}
.common_fieldset tr td:last-child {
	padding-right: 20px;
}
.common_fieldset input {
	box-shadow: inset 0px 0px 1px white;
	-webkit-box-shadow: inset 0px 0px 1px white;
	background-color: white;
	border-radius: 0px;
	-webkit-border-radius: 0px;
	font-size: 15px;
	padding: 4px;
	line-height: 20px;
	-webkit-box-sizing: border-box;
	margin: 5px 0px;
	-webkit-appearance: none;
	border: 1px solid #cecece;
}
::-webkit-input-placeholder {
	color: #cccccc;
}
/*
 * 含有lable和input输入框的table   end
 */
/**
 * index页面节目网格列表 start
 */

.imggrade,
.imggrade_book {
    margin: 0px 15px;
    text-align: center;
}
.imggrade > table,
.imggrade_book > table{
	word-wrap: break-word;
	table-layout: fixed;
	width: 100%;
}
.imggrade td,
.imggrade_book td{
    vertical-align: top;
}
.imggrade td:nth-child(1) > div{
	margin: 12px 6px 0px 0px;
}
.imggrade td:nth-child(2) > div{
	margin: 12px 3px 0px 3px;
}
.imggrade td:nth-child(3) > div{
	margin: 12px 0px 0px 6px;
}
.imggrade_book td:nth-child(1) div{
	margin: 12px 0px 0px 0px;
	text-align: left;
}
.imggrade_book td:nth-child(2) div{
	margin: 12px 0px 0px 0px;
	text-align: center;
}
.imggrade_book td:nth-child(3) div{
	margin: 12px 0px 0px 0px;
	text-align: right;
}
.imggrade td:nth-child(1) label,
.imggrade_book td:nth-child(1) label{
    float: left;
}
.imggrade td:nth-child(2) label,
.imggrade_book td:nth-child(2) label{
    margin: 0px auto;
}
.imggrade td:nth-child(3) label,
.imggrade_book td:nth-child(3) label{
    float: right;
}
.imggrade img {
    width: 99%;
    border: 1px solid rgba(206, 206, 206, 0.4);
    margin-bottom: 2px;
}
.imggrade label{
    display: block;
    max-height: 36px;
    overflow: hidden;
    font-size: 14px;
    color: #5c5c5c;
    line-height: 18px;
    text-align: center;
    width: 99%;
    overflow-y: hidden;
}
.imggrade_book img {
    width: 64.2%;
    border: 1px solid rgba(206, 206, 206, 0.4);
    margin-bottom: 2px;
}
.imggrade_book label {
    display: block;
    max-height: 36px;
    overflow: hidden;
    font-size: 15px;
    color: #5c5c5c;
    line-height: 18px;
    text-align: center;
    width: 64.2%;
    overflow-y: hidden;
}
#liveVideoList label{
    font-size: 15px;
}
/**
 * index页面节目网格列表 end
 */
/**
 * 点评样式
 */
.tvDianpinCss {
    border: 0;
    width: 100%;
    color: #000000;
    border-bottom: #ebebeb solid 1px;
    table-layout: fixed;
    WORD-WRAP: break-word;
    padding: 10px 0px;
}

/** 
* 	加载更多按钮
*/
.common_loadMore{
	color: #737980;
	height:34px;
	line-height:34px;
	margin-top:10px;
	margin-bottom:10px;
	font-size:15px;
	width:290px;
	border: solid 0px #cecece;
	text-align: center;
	background-color: #e5e5e5;
	-webkit-border-radius: 4px; 
}

/**
 * 下拉菜单
 */
.titleAndMianbao {
	position: relative;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #ffad33;
	-moz-box-shadow: 0px 1px 2px rgba(41,41,41,0.3);
	box-shadow: 0px 1px 2px rgba(41,41,41,0.3);
	
	border-top:1px solid #f59300;
	border-bottom:1px solid #f59300;
}

.titleAndMianImg {
 height:18px; 
 vertical-align:middle;
}

.slide_menu {
	z-index: 9999;
	width: 100%;
	max-width: 720px;
	background-color: rgba(0, 0, 0, 0.1);
	position: absolute;
	top: 55px;
	bottom: -800px;
	display: block;
	left: 0px;
}

.slide_menu_body {
	background-color: #ffffff;
	padding: 0px 0px;
	text-align:justify;
}

.slide_menu_table tr{
	height:38px;
}

.slide_menu_table tr>td{
	border-right:1px solid #dedede;
	border-bottom:1px solid #dedede;
}

.slide_menu_table tr>td:first-child{
	border-left:1px solid #dedede;
}

.slide_menu_table tr:last-child>td{
	border-bottom:0px !important;
}

.slide_menu_item {
	color: #5c5c5c;
	font-size: 14px;
	text-align: center;
	margin: 0px auto;
	width:78px;
	height: 38px;
	line-height: 38px;
	overflow: hidden;
}

.slide_menu_curItem {
	color: #ff9500;
}

.menu_table {
	text-align: center !important;
	padding-top: 0px !important;
	padding-right: 0px !important;
	padding-bottom: 0px !important;
	padding-left: 0px !important;
}

.slide_menu_top {
	right: 31px;
	position: absolute;
	overflow: hidden;
	-webkit-transform: translate(0px,-26px);
	pointer-events: none;
	width: 0px;
	height: 0px;
	background-color: rgba(0, 0, 0, 0);
	border: 13px solid rgba(0, 0, 0, 0);
	border-bottom-color: rgba(0, 0, 0, 0.9);
}
.slide_menu_bottom {
	height: auto;
	overflow: auto;
	box-shadow: 0px 1px 4px rgba(41, 41, 41, 0.1);
	-moz-box-shadow: 0px 1px 4px rgba(41, 41, 41, 0.1);
/**	-webkit-transition: height 0.2s ease; **/
}

.slide_menu_btn {
	width: 83px;
	height: 31px;
	line-height: 30px;
	margin-right: 13px;
	float: right;
	text-align: center;
	background-image: url('../../local/images/Button_UpperRight.png');
	background-size: 83px 31px;
	margin-top: 1px;
}

.slide_menu_btn > label {
	color: white;
	text-shadow: 0px -1px 1px rgba(95, 28, 28, 0.9);
	font-size: 15px;
}

.slide_menu_hide .slide_menu_top {
	border-width: 0px!important;
}
.slide_menu_hide .slide_menu_bottom {
	overflow: hidden;
	height: 0px!important;
}
.slide_menu_hide .slide_menu {
	bottom: auto;
}

.slide_menu_hide .slide_menu_toggle_notchecked {
	display: inline-block!important;
}
.slide_menu_hide .slide_menu_toggle_checked {
	display: none!important;
}

.slide_menu_disable .slide_menu_toggle_checked,
.slide_menu_disable .slide_menu_toggle_notchecked {
	display: none!important;
}

.slide_menu_bodyFixed{
	position:fixed;
	left:0px;
	right:0px;
}

.slide_menu_jian {
	height:9px; 
	position:absolute; 
	bottom:-1px; 
	left:18px;
}
.slide_menu_hide .slide_menu_jian {
	display: none!important;
}

.play_but{
	width: 89px !important;
	height: 28px;
	line-height: 28px;
	text-align: center;
	font-size: 18px;
	color: #ffffff;
	background-color: #ffad33;
	border-radius: 2px;
}