@CHARSET "UTF-8";
hr {
	margin: 0px 0px;
}
body{
	margin: 0px;
	-webkit-touch-callout:none;
	-webkit-text-size-adjust:none;
}
/*logo*/
#header_wap {
	margin-top:5px;
}
#logoDiv{
	vertical-align:middle;
	height:40px;
	background-color: #ffffff;
}

.logoImg {
	margin-left: 15px;
	height: 36px;
}

.headerTable{
	margin-right: 5px;
}

.headerTable td{
	padding-top : 0px;
	padding-right : 10px;
	padding-bottom : 0px;
	padding-left : 10px;
}

/*wap详情页 输入框*/
.wap_Content_TextArea{
	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0);
	box-shadow: inset 0px 1px 4px rgba(0,0,0,0);
	border-radius: 4px /*{global-radii-blocks}*/;
}

/*搜索*/
#search_box {
	width:100%;
	height:38px;
	line-height:38px;
	border-bottom:1px solid #dedede;
}

#keywordDiv {
	height:30px;
	line-height:30px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 8px;
}

#keyword {
	margin-left: 5px;
	width: 200px;
	height: 20px;
	border: 0px;
	font-size: 14px;
}

#doSearchImg {
	width: 62px;
}

#keywordDiv .ui-btn-hover-a {
	background: 			#444444 /*{a-bhover-background-color}*/;
	font-weight: bold;
	color: 					#fff /*{a-bhover-color}*/;
}
#keywordDiv .ui-btn-up-c {
	border: 1px solid 		#ccc /*{c-bup-border}*/;
	font-weight: bold;
	color: 					#222 /*{c-bup-color}*/;
	background-image: none;
	background: none;
}
#keywordDiv .ui-btn-hover-c {
	border: 1px solid 		#bbb /*{c-bhover-border}*/;
	font-weight: bold;
	color: 					#222 /*{c-bhover-color}*/;
	background-image: none;
	background: none;
}
#keywordDiv .ui-btn-down-c {
	border: 1px solid 		#bbb /*{c-bdown-border}*/;
	font-weight: bold;
	color: 					#222 /*{c-bdown-color}*/;
	background-image: none;
	background: none;
}

#keywordDiv .ui-btn-up-c {
	border: 0 /*{c-bup-border}*/;
}
#keywordDiv .ui-btn-hover-c {
	border: 0 /*{c-bhover-border}*/;
}

.ui-input-search{
	margin-top: 2px;
	height: 29px;
	-webkit-border-radius: 0;
	background-color: #FFFFFF;
	padding:0 30px;
	position:relative;
	font-family:Helvetica,Arial,sans-serif;
	border:1px solid #AAA; 
	left:7px;
	
}
.ui-shadow {
	-moz-box-shadow: 0px 1px 4px /*{global-box-shadow-size}*/ 			rgba(0,0,0,0) /*{global-box-shadow-color}*/;
	-webkit-box-shadow: 0px 1px 4px /*{global-box-shadow-size}*/ 		rgba(0,0,0,0) /*{global-box-shadow-color}*/;
	box-shadow: 0px 1px 4px /*{global-box-shadow-size}*/ 				rgba(0,0,0,0) /*{global-box-shadow-color}*/;
}
.delImg{
	height:18px;
	margin:0;
	float: left;
}
.delImg-hidden{
	display: none;
}
.titleNavDiv{
	height: 30px;
	line-height: 30px;
	color: #7d7d7d;
	font-size: 14px;
	text-align: center;
	display: inline-block;
	border-bottom: 1px solid red;
}

#tranNav div:first-child{
	margin:0 auto !important;
}

.navTd{
	line-height: 43px;
	border-bottom: 3px solid rgba(0, 0, 0, 0);
	color: #53575c;
	font-size: 17px;
	display: inline-block;
	text-align: center;
}

.navTdDown{
	height: 43px;
	line-height: 43px;
	border-bottom: 3px solid #dedede;
	color: #53575c;
	font-size: 17px;
	text-align: center;
	display: inline-block;
	background-color: #e9edf2;
}

.navTdIosDown{
	background-color: #b8b9b9;
}

.navTdCurr{
	line-height: 43px;
	color: #53575C;
	font-size: 17px;
	text-align: center;
	display: inline-block;
}

.navTdDiv{
	height: 22px;
	line-height: 22px;
	margin-top: 10px;
}