* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
	margin: 0;
	padding: 0;
}

table {
	table-layout: fixed;
	word-break: break-all;
}

div {
	table-layout: fixed;
	word-wrap: break-word;
	overflow: hidden;
}

.title {
	background: /*url(../img/title.png) repeat-x;*/
	background-position: bottom;
}

.title img {
	height: 30px;
	vertical-align: middle;
}

.msg_popup_mask {
	z-index: 80;
	top: 50%;
	position: fixed;
	width: 100%;
	margin-top: -20px;
	text-align: center;
	pointer-events: none;
	display: none;
}


.msg_popup_mask>div {
	background: rgba(39, 39, 39, 0.8);
	padding: 25px 10px;
	width: 183px;
	margin: 0px auto;
	display: inline-block;
	border-radius: 10px;
	text-align: center;
}

.msg_popup_mask>div>div {
	display: inline-block;
	max-width: 183px;
	text-align: left;
	font-family: '黑体';
	font-size: 15px;
	line-height: 25px;
	color: #ffffff;
	margin: 0px auto;
	word-wrap: break-word;
	word-break: normal;
	text-shadow: 1px 1px 1px #272727;
}
/**公告*/
.index_announcement0 {
	background-color: #ededed;
	height: 28px;
	width:320px;
}
.index_announcement {
	height: 28px;
	overflow: hidden;
	padding-left:0px;
}

.index_announcement0 img {
	float: left;
	width: 21px;
	height: 19px;
	padding-top:6px;
	padding-left:8px;
}

.index_announcement a {
	margin-left: 8px;
	color: #424242;
	font-family: "黑体";
	font-size: 15px;
}
.announcement_title{
	font-size: 18px;
	color: #383838;
	font-family: 黑体;
	font-weight: bold;
	overflow:hidden; 
	text-overflow: ellipsis;
}
.announcement_time{
	font-size: 14px;
	color: #b2b2b2;
}
.announcement_table{
	width: 320px;
	table-layout:fixed;
	word-break:break-all;
}
.announcement_table1{
	width: 100%;
	height: 66px;
	table-layout:fixed;
	border-bottom: solid #cecece 1px;
}
a img{
border:0px;
}
.ktimg{
	display: none;
	
}
.ktimg2{
	display: none;
	
}
.jianbian1{
	
	width: 45%;height:44px;float: left;background:-webkit-gradient(linear, 0% 0%, 100% 0%,from(#C0BCF1),to(#FB91B2))
}
.jianbian2{
	
	width: 10%;height: 44px;float: left;background:#FB91B2 
}

.jianbian3{
	
	width: 45%;height:44px;float: left;background:-webkit-gradient(linear, 0% 0%, 100% 0%,from(#FB91B2),to(#C0BCF1))
}
