.tvDemand_Details_title{
	font-family: 黑体;
	padding-left: 10px;
	padding-top: 8px;
	padding-bottom: 2px;
	font-size: 14px;
	height: 30px;
	table-layout: fixed; 
	WORD-WRAP: break-word;
}

.tvDemandDianpinCss {
	cellpadding: 0;
	cellspacing: 0;
	border: 0;
	width: 100%;
	font-size: 12px;
	margin-left: 3px;
	margin-right: 3px;
	padding-top: 3px;
	text-align: left;
	border-bottom: solid #ebebeb 1px;
	table-layout: fixed; 
	WORD-WRAP: break-word;
}
.tvDianpin_tvDemandCont_last{
	table-layout:fixed; 
	WORD-WRAP:break-word;
	cellpadding:0;
	font-size: 14px;
	cellspacing:0;
    width:320px;
    color: #000000;
    padding: 5px 0px 6px 0px;
    border-bottom: #ebebeb solid 1px;
    border-collapse: separate;
    height: 44px;
    width: 100%;
}
.tvDemand_limitWords{
	display: block;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.limited{
	padding:7px 0 0 7px; 
	font-size: 15px; 
}

.changeType{
	color:#ffa900;	
}

.tvDemandDetailsTable{
	width:100%; 
	height:30px; 
	background: url('../../../images/topdaohang.png');
}
.tvDemandDetailsTable td{
	vertical-align: middle;
	text-align: left;
}
.tvDemandDetailsTable1{
	table-layout: fixed; 
	WORD-WRAP: break-word;
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}
.tvDemandDetailsTd{
	vertical-align: top;
	text-align: left;
}
.tvDemandDetailsDiv{
	margin:15px 0px 0px 15px;
	width:89px;
	height:59px;
	background-image: url(../../../../wapts/images/listImgDefault.png);
}
.tvDemandDetailsDiv img{
	margin-top:1px;
	margin-left:1px;
	width:87px;
	height:57px; 
}
.tvDemandDetailsDiv1{
	padding: 12px 15px 0px 0px;
	text-align: left;
}
.tvDemandDetailsDiv2{
	overflow:hidden; 
	text-overflow:ellipsis;
	
	font-size: 16px;
	font-family: 黑体;
	height: 38px;
}
.tvDemandDetailsDiv3{
	overflow:hidden; 
	white-space:nowrap; 
	text-overflow:ellipsis;
	
	font-size: 13px;
	color: #9E9E9E;
	font-family: 黑体;
}
.tvDemandDetailsTd1{
	vertical-align: top;
	text-align: left;
}
.tvDemandDetailsDiv4{
	float: left;
	height: auto;
	vertical-align: middle;
	margin:10px 10px 15px 15px;
}
.tvDemandDetailsDiv5{
	float: left;
	height: auto;
	margin: 10px 0px 15px 0px;
	width: auto;
}
.tvDemandDetailsDiv5 table td{
	font-size: 14px;
}